.chart {
    padding: 1rem;
    border-radius: 12px;
    border-color: coral;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 6rem;
}