.chart {
    padding: 1rem;
    border: 1px solid #ffc7bb;
    border-radius: 13px;
    background-color: rgb(255, 227, 217);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 6rem;
}