.chart {
    padding: 1rem;
    border: 1px solid #ffc7bb;
    border-radius: 13px;
    background-color: rgb(252, 168, 137);
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 6rem;
}